[project]
	description = This is a website for a fictional mens store that will be used to learn new skills
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ruben Cepeda (rubencepeda)
[access "refs/for/refs/*"]
	read = group user/Ruben Cepeda (rubencepeda)
	push = group user/Ruben Cepeda (rubencepeda)
	label-Code-Review = -2..+2 group user/Ruben Cepeda (rubencepeda)
	label-Verified = -1..+1 group user/Ruben Cepeda (rubencepeda)
	rebase = group user/Ruben Cepeda (rubencepeda)
	removeReviewer = group user/Ruben Cepeda (rubencepeda)
	submit = group user/Ruben Cepeda (rubencepeda)
[access "refs/heads/*"]
	read = group user/Ruben Cepeda (rubencepeda)
	create = group user/Ruben Cepeda (rubencepeda)
	push = +force group user/Ruben Cepeda (rubencepeda)
	pushMerge = group user/Ruben Cepeda (rubencepeda)
[access "refs/tags/*"]
	push = +force group user/Ruben Cepeda (rubencepeda)
	pushTag = group user/Ruben Cepeda (rubencepeda)
	pushSignedTag = group user/Ruben Cepeda (rubencepeda)
